<% @ads.each do |ad| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <%= image_tag ad.picture.url(:medium) %>
            <div class="caption">
                <h4>
                  <%= link_to truncate(ad.brand.name, length: 20), site_ad_detail_path(ad) %>
                </h4>
                <p><%= truncate(ad.model.name, length: 20) %></p>
                <h4 class="pull-right"><%= ad.price == 0 ? "A negociar" : (humanized_money_with_symbol ad.price) %>
                </h4>
            </div>
            <div class="ratings">
                <p class="pull-right"><%= Random.rand(100) %> reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>
<% end %>
